*{
        padding: 0;
        margin:0;
}
nav{
        background-color: maroon;
        color:white;
        height:60px;
        font-size: 2em;
        position: fixed;
        width:100%;
        display:flex;
        flex-direction: row-reverse;
        z-index: 2;
        align-items: center;
}
nav ul li{
        display: inline;
        padding: 20px;
        height:100%;
}
nav ul li:hover{
        background-color: rgb(79, 79, 153);
}
nav ul li a{
        color:antiquewhite;
        text-decoration: none;
}
#welcome-section{
        background-color: rgb(41, 35, 35);
        color:antiquewhite;
        text-align: center;
        height: 100vh;
        width: auto;
}
h1{
        font-size: 3em;
}
#welcome-section h1{

        margin: auto;
        position: relative;
        top:150px;
        
}
#welcome-section h2{
        font-size: 1.5em;
        margin: auto;
        position: relative;
        top:180px;
        color:maroon;

}
#projects{
        height:100vh;
        text-align: center;
        align-items: center;
        align-content: center;
        background-color: rgb(74, 74, 141);
        color: whitesmoke;
}
#projects a{
        color: whitesmoke;
        text-decoration: none; 
}
#projects h2 a:hover{
        text-decoration: line-through;
}
.myprojects{
        display: flex;
}
.project-tile{
        background-color: rgb(39, 30, 30);
        width:40%;
        margin: 10%;
}
@media screen and (max-width: 500px) {
        body {
          font-size: .5em;
        }
        .myprojects{
                display: block;
        }
        .project-tile{
                width:90%;
                margin:auto;
        }
}
.project-tile img{
        width: 100%;
}
#footer{
        height: 100vh;
        background-color: rgb(43, 33, 33);
        color:antiquewhite;
        justify-content: center;
        align-items: center;
        padding:10% 0;
}
#footer h1,#footer h2{
        width:fit-content;
        margin:auto;

}
#footer a{
        color: whitesmoke;
        text-decoration: none;
}